* {
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  overflow: hidden;
}

.app {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
}

.main-display {
  padding: 1rem;
  margin: 2rem;
  min-width: 80%;
  background-color: rgb(163, 192, 192);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.main-display #main-form {
  min-width: 100%;
  background-color: yellow;
}

.main-display #temp-picker {
  background-color: red;
  padding: 0;
}

.main-display #tempSelect,
.main-display #temperatureInput {
  margin: 1rem 0;
  min-width: 100%;
  display: block;
}

.main-display #temp-picker {
  padding: 1.5rem;
  margin: 1rem;
}

.main-display #temp-input {
  background-color: green;
  padding: 1.5rem;
  margin: 1rem;
}

.results {
  min-width: 50%;
  background-color: rgb(104, 162, 185);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
